[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/phamson02/cutlass.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
